In [ ]:
Tradgedy of Commons

In [3]:
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns

In [4]:
df = pd.read_csv('./data/AtlanticFish.csv')

In [5]:
df.head()

   Year Country                Species               Region  Catch (Tons)
0  1950  Canada  Atlantic bluefin tuna  Atlantic, Northwest         432.0
1  1951  Canada  Atlantic bluefin tuna  Atlantic, Northwest         299.0
2  1952  Canada  Atlantic bluefin tuna  Atlantic, Northwest         368.0
3  1953  Canada  Atlantic bluefin tuna  Atlantic, Northwest         201.0
4  1954  Canada  Atlantic bluefin tuna  Atlantic, Northwest         175.0

In [ ]:
df.columns

In [ ]:
us = df[df.Country == 'United States of America']

In [ ]:
swordfish = df[df.Species == 'Swordfish']

In [ ]:
swordfish

In [ ]:
sns.lineplot(x = "Year", y = "Catch (Tons)", data = swordfish, hue='Country', style='Region')